accession_file
break_tags
/deps/*
/deps_2/*
/deps_3/*
/deps_4/*
/deps_5/*
*.pyc
/plot_stats_1/*
/plot_stats_2/*
/temp_files/*
/venv/*
/pfam_entries/*
/all_consensus_sequences/*
/combined_alignments/*
consensus_code.tar.gz
dca_energy_plots.tar.gz
/dca_energy_plots/*
/dependencies/*
/families/*
/hmm_consensuses/*
/hmm_emitted_sequences/*
/hmm_profiles/*
/length_distributions/*
nohup_1.out
nohup_2.out
nohup_3.out
nohup_4.out
/dca_energy_plots/*
/plot_stats/*
/refined_alignments/*
/refined_consensuses/*
